  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    color: inherit;
    background-color: #eee;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}